body{
    background-image: url('/static/images/bg.jpg');
    background-size: cover;
}

.weather-container{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
}